name: python-build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12', '3.14', '3.14t']
        platform: [x64]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Prepare Vulkan SDK
      uses: humbletim/setup-vulkan-sdk@v1
      with:
        vulkan-version: latest

    - name: install-deps
      run: |
        python -m pip install --upgrade pip
        pip install pytest setuptools wheel

    - name: build ncnn
      run: |
        mkdir build
        cd build
        cmake -A x64 -DCMAKE_BUILD_TYPE=Release -DNCNN_VULKAN=ON -DNCNN_PYTHON=ON -DNCNN_AVX2=ON -DNCNN_BUILD_TOOLS=OFF -DNCNN_BUILD_EXAMPLES=OFF ..
        cmake --build . --config Release -j 4

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: ncnn-py${{ matrix.python-version }}
        path: |
          build
