name: python-build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12', '3.14', '3.14t']
        platform: [x64]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Prepare Vulkan SDK
      uses: humbletim/setup-vulkan-sdk@v1
      with:
        vulkan-query-version: latest
        vulkan-components: Vulkan-Headers, Vulkan-Loader, Glslang, SPIRV-Reflect, SPIRV-Headers
        vulkan-use-cache: true

    - name: install-deps
      run: |
        python -m pip install --upgrade pip
        pip install pytest setuptools wheel numpy tqdm requests portalocker opencv-python

    - name: build
      run: |
        python setup.py install --vulkan=on
